<nb-card id="comprobante">
  <nb-card-header>
    <table class="tabla">
      <tr>
        <td>
          <img src="../../../../assets/images/logo_distrital.png">
        </td>
        <td rowspan="10">
          <p class="texto"><br>Comprobante de inscripción</p>
        </td>
        <td>
          <img src="../../../../assets/images/logo_negro.png">
        </td>
      </tr>
    </table>
  </nb-card-header>
  <nb-card-body>
    <div>
      <table class="tabla2">
        <tr>
          <td rowspan="10">
            <!-- <img src="../../../../assets/images/logoUDfullv.png"> -->
            <ngx-qrcode qrc-element-type="url" [qrc-value]="url" qrc-version="3"
              qrc-errorCorrectionLevel="H">
            </ngx-qrcode>
          </td>
        </tr>
        <tr>
          <td><b>Código de inscripción: </b></td>
          <td>080208533-2</td>
        </tr>
        <tr>
          <td><b>Estado: </b></td>
          <td>080208533-2</td>
        </tr>
        <tr>
          <td><b>Cedula: </b></td>
          <td>080208533-2</td>
        </tr>
        <tr>
          <td><b>Apellidos: </b></td>
          <td>Mercado Cartagena</td>
        </tr>
        <tr>
          <td><b>Nombres: </b></td>
          <td>Elba Gabriela</td>
        </tr>
        <tr>
          <td><b>programa: </b></td>
          <td>Ecuatoriana</td>
        </tr>
        <tr>
          <td><b>Fecha de inscripción: </b></td>
          <td> 7 de Agosto de 1991 </td>
        </tr>
        <tr>
          <td><b>Email: </b></td>
          <td>gabymc_07@hotmail.com </td>
        </tr>
        <tr>
          <td><b>Telefono: </b></td>
          <td>062 705 409</td>
        </tr>
      </table>
    </div>
  </nb-card-body>
</nb-card>
<div class="button">
  <button class="btn btn-success btn-sm" (click)="exportAs('pdf')">export as pdf</button>
  <button class="btn btn-success btn-sm" (click)="exportAs('png')">export as png</button>
</div>