<nb-card>
  <nb-card-header>{{"GLOBAL.produccion_artes_arqu_diseno" | translate}}
  </nb-card-header>
  <nb-card-body class="row container">
    <div class="col-md-12">
      <table class="table-responsive">
        <tbody *ngIf="info_produccion_artes_arqu_diseno">
          <tr *ngFor="let produccion_art of info_produccion_artes_arqu_diseno">
            <td>
              <p><b>{{produccion_art.Mes}}/{{produccion_art.Ano}}</b></p>
              <p>{{produccion_art.TipoDisciplina.Nombre}}</p>
            </td>
            <td>
              <p>{{produccion_art.Nombre}}</p>
              <p>{{produccion_art.Descripcion}}</p>
            </td>
          </tr>
        </tbody>
      </table>
      <span *ngIf="url_editar" (click)="editar()" class="link">
        <i class="ion-edit"></i>{{"GLOBAL.actualizar" | translate}}</span>
    </div>
  </nb-card-body>
</nb-card>
