<nb-card>
  <nb-card-header>{{"GLOBAL.otro_documento" | translate}}
  </nb-card-header>
  <nb-card-body class="row container">
    <div class="col-md-12">
      <table class="table-responsive">
        <tbody *ngIf="info_otro_documento">
          <tr *ngFor="let documento of info_otro_documento">
            <td>
              <p><b>{{documento.Mes}}/{{documento.Ano}}</b></p>
              <p><b>{{"GLOBAL.paginas" | translate}}:</b> {{documento.NumeroPaginas}}</p>
            </td>
            <td>
              <p>{{documento.Titulo}}</p>
              <p><b>{{"GLOBAL.url" | translate}}:</b> {{documento.Url}}</p>
              <p><b>{{"GLOBAL.doi" | translate}}:</b> {{documento.Doi}}</p>
            </td>
          </tr>
        </tbody>
      </table>
      <span *ngIf="url_editar" (click)="editar()" class="link">
        <i class="ion-edit"></i>{{"GLOBAL.actualizar" | translate}}</span>
    </div>
  </nb-card-body>
</nb-card>
