<nb-card>
  <nb-card-header>{{"GLOBAL.traducciones" | translate}}
  </nb-card-header>
  <nb-card-body class="row container">
    <div class="col-md-12">
      <table class="table-responsive">
        <tbody *ngIf="info_traduccion">
          <tr *ngFor="let traduccion of info_traduccion">
            <td>
              <p><b>{{traduccion.Mes}}/{{traduccion.Ano}}</b></p>
              <p>{{traduccion.TipoTraduccion.Nombre}}</p>
              <p><b>{{"GLOBAL.edicion" | translate}}:</b> {{traduccion.Edicion}}</p>
              <p><b>{{"GLOBAL.serie" | translate}}:</b> {{traduccion.Serie}}</p>
              <p>{{traduccion.MedioDivulgacion.Nombre}}</p>
            </td>
            <td>
              <p>{{traduccion.Titulo}}</p>
              <p>{{traduccion.IdiomaTraducido.Nombre}}</p>
              <p><b>{{"GLOBAL.nombre_original" | translate}}:</b> {{traduccion.NombreOriginal}}</p>
              <p>{{traduccion.Autor}}</p>
              <p>{{traduccion.IdiomaOriginal.Nombre}}</p>
            </td>
          </tr>
        </tbody>
      </table>
      <span *ngIf="url_editar" (click)="editar()" class="link">
        <i class="ion-edit"></i>{{"GLOBAL.actualizar" | translate}}</span>
    </div>
  </nb-card-body>
</nb-card>
