<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
  <nb-card>
    <nb-card-header>
      <img src="../../../../assets/images/Logo-EET-cab.png" alt="{{ 'GLOBAL.eet' | translate }}" width="60%">
    </nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
            <button (click)="activar1()" class="btn btn-outlined btn-success btn-block">Perfil del programa</button>
            <button (click)="activar2()" class="btn btn-outlined btn-success btn-block">Perfil del aspirante</button>
            <button (click)="activar3()" class="btn btn-outlined btn-success btn-block">Perfil del egresado</button>
            <button (click)="activar4()" class="btn btn-outlined btn-success btn-block">Perfil de formación</button>
            <button (click)="activar5()" class="btn btn-outlined btn-success btn-block">Estructura curricular</button>
            <button (click)="activar6()" class="btn btn-outlined btn-success btn-block">Metodología</button>
            <button (click)="activar7()" class="btn btn-outlined btn-success btn-block">Líneas de investigación</button>
            <button (click)="activar8()" class="btn btn-outlined btn-success btn-block">Inscripción</button>
            <button (click)="activar9()" class="btn btn-outlined btn-success btn-block">Más información</button>
            <br>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 ">
          <div [hidden]="opcion !== 'programa'">
            <br>
            <p>Busca ser una escuela de excelencia en la formación de docentes especialistas en Educación en Tecnología que sean agentes de cambio frente a la forma de asumir la construcción del conocimiento desde la actividad investigativa con resultados que sean socialmente útiles.</p> 
            <p>El programa busca estructurar conceptualmente las estrategias particulares del desarrollo curricular y pedagógico para el área de tecnología e informática y la educación tecnológica en general.</p>
            <p>De igual manera, el maestro egresado debe reflejar la formación impartida en la transformación de las estructuras mentales frente a los procesos pedagógicos, cognitivos, sociales y valorativos del aula y las innovaciones en el ámbito de la educación en tecnología.</p>
            <p>Por ello, el proyecto curricular busca cualificar talentos humanos, para la Educación en Tecnología de tal forma que se constituyan en investigadores respecto de la pedagogía de la tecnología y promover, desde la incorporación del componente tecnológico en los procesos pedagógicos, la innovación curricular y la  transformación de la escuela.</p>
          </div>            

          <div [hidden]="opcion !== 'aspirante'">
            <h3>Perfil del aspirante</h3>
            <br>
            <p>Está compuesto por profesionales en el área de la educación, preferiblemente con experiencia docente en cualquier nivel de formación y con vocación por los procesos de investigación e innovación en el área de la educación en tecnología, particularmente desde los aspectos pedagógicos y didácticos, las tecnologías digitales, los sistemas tecnológicos, la filosofía de la tecnología y sus relaciones con la sociedad y la cultura.</p>
          </div>

          <div [hidden]="opcion !== 'egresado'">
            <h3>Perfil del egresado</h3>
            <br>
            <p>Se espera que el egresado se caracterice por su capacidad para el diseño y valoración de las propuestas de trabajo escolar cuyo objeto de estudio es la tecnología. Lo anterior amerita, otros aspectos, el dominio pedagógico de fundamentos, procedimientos y acciones que son inherentes a la educación en tecnología, reflexión y uso crítico de las tecnologías de la información y la comunicación y una formación interdisciplinaria con fundamentos tecnológicos básicos.</p>
            <p>Lo anterior se expresa  en las siguientes competencias:</p>
            <ul>
              <li><p>Capacidad de leer comprensiva y críticamente los elementos tecnológicos de su entorno.</p></li>
              <li><p>Capacidad para planear, desarrollar y evaluar actividades tecnológicas escolares.</p></li>
              <li><p>Capacidad para identificar, definir y proponer alternativas de soluciones tecnológicas a problemas o necesidades pedagógicas trabajando en equipo.</p></li>
              <li><p>Capacidad para relacionar e integrar diferentes saberes en el diseño o desarrollo de actividades tecnológicas escolares.</p></li>
            </ul>
          </div>

          <div [hidden]="opcion !== 'formacion'">
            <h3>Perfil de formación</h3>
            <br>
            <p>Atendiendo la visión humanística que debe tener la tecnología, y la intencionalidad planteada desde los lineamientos y enfoques abordados en la Especialización, en donde se asume la tecnología como saber al servicio del hombre para el mejoramiento de sus condiciones de vida a nivel  individual y social, resulta prudente y coherente proponer que las condiciones académicas y de destrezas específicas de nuestros aspirantes sean las siguientes:</p>
            <p>Profesionales de todas las áreas que hayan accedido a sus títulos con estudios iguales o superiores a cuatro años, preferiblemente con formación docente en tecnología, diseño tecnológico, tecnologías de la información y la comunicación, ciencias naturales ó matemáticas u otros profesionales titulados con interés en la Tecnología como objeto de estudio.</p>
            <p>Serán seleccionados en primera instancia,  aquellos que sean responsables de la estructuración del área de Tecnología e Informática en sus instituciones.</p>
            <p>Las excepciones serán consideradas por el consejo curricular o la autoridad competente según reglamento.</p> 
          </div>

          <div [hidden]="opcion !== 'estructura'">
            <h3>Estructura curricular</h3>
            <br>
            <p>El plan de estudios está organizado de dos maneras diferentes, con el ánimo de clarificar la distribución de los campos académicos en cada uno de los semestres de trabajo. Bajo la perspectiva de los campos académicos de formación, se adoptan cinco de ellos, entendidos como los ejes conceptuales que aglutinan las principales temáticas de estudio sobre la educación en tecnología. Cada uno de estos campos está compuesto a su vez, por espacios académicos.</p>
            <p>El primer campo de formación denominado pedagogía, didáctica y currículo, se ocupa de abordar los modelos, tendencias y enfoques bajo los cuales se desarrollan en la actualidad los procesos de enseñanza y aprendizaje de la tecnología, así como los elementos que permiten su inclusión curricular desde diferentes perspectivas de trabajo. Este eje de formación se aborda desde dos espacios académicos: pedagogía de la tecnología y currículo para educación en tecnología.</p>
            <p>El campo de formación en investigación en educación en tecnología busca desarrollar habilidades para identificar diversas problemáticas en el contexto escolar y de la práctica docente como objetos de investigación en educación en tecnología, de tal manera que a través de elementos teóricos, pedagógicos, didácticos y prácticos, se pueden explorar e implementar alternativas de solución.</p>
            <p>En el campo de formación de enfoques tecnológicos, busca proporcionar a los futuros especialistas, una visión amplia de dos de las formas de trabajo o tendencias que orientan la educación en tecnología, de tal manera que se puedan establecer elementos característicos de cada una de ellas y posturas críticas frente a su relación con los procesos educativos, sociales y culturales.</p>
            <p>El campo de formación de fundamentos básicos de tecnología representa el eje encaminado a la formación técnica de los futuros especialistas, pues se orienta a desarrollar habilidades tecnológicas en el manejo de  artefactos, procesos y sistemas tecnológicos de las diferentes expresiones de la tecnología. De esta forma, se realiza una incursión desde la alfabetización tecnológica, de acuerdo con los niveles de manejo presentados por los especialistas en formación, hasta llegar a una profundización en el manejo de estos elementos.</p>
          </div>

          <div [hidden]="opcion !== 'metodologia'">
            <h3>Metodología</h3>
            <br>
            <p>El estudiante desarrollará su formación con <strong>metodología virtual (100%)</strong>. Con el fin de facilitar la flexibilidad y la movilidad, las actividades académicas tienen como objetivo fomentar procesos de construcción del conocimiento, del aprendizaje autónomo, significativo y colaborativo. Por esta razón, el egresado desarrollará competencias en modalidades como teletrabajo, trabajador 2.0, trabajador del conocimiento y trabajo en red.</p>
          </div>

          <div [hidden]="opcion !== 'investigacion'">
            <h3>Grupos y líneas de investigación</h3>
            <br>
            <p>El grupo de investigación que apoya la formación de especialistas en el Proyecto Curricular de <strong>Educación en Tecnología</strong> es <strong>Didáctica de la Tecnología -DIDACTEC-</strong>, conformado en el año 1999  y que en la actualidad es reconocido institucionalmente y escalafonado en categoría B en Colciencias.</p>
            <p>Inicialmente el grupo de investigación desarrolló temáticas de estudio para la implantación de la línea de investigación en Pedagogía de la Tecnología, la cual se estructuró a partir de los núcleos problemáticos de Currículo para la tecnología y formación de docentes. Estos núcleos se abordaron desde los tópicos de modelos pedagógicos, ambientes de aprendizaje, planeación y evaluación del proyecto curricular y modelos de formación docente respectivamente.</p>
            <p>A partir de estos tópicos se desarrollaron temáticas sobre espacios físicos, materiales y estrategias didácticas, autoevaluación interna y social del Proyecto Curricular, modelos de formación para la educación básica y media entre otras, las cuales han sido temas de desarrollo de proyectos de investigación al interior del grupo <strong>DIDACTEC</strong> y en los trabajos de grado realizados por los estudiantes de la especialización.</p>
            <p>Teniendo en cuenta que los resultados de estos procesos de investigación y los avances en el panorama de la investigación, este grupo cuenta actualmente con dos líneas de investigación, entendidas como el conjunto de proyectos que se articulan en torno a un tema o problema común, desarrollado en consonancia con el desarrollo académico del proyecto curricular, de la Facultad y de la Universidad.</p>
            <ol>
              <li><p><strong>Didáctica de la tecnología</strong><br>La primera de estas líneas es la de Didáctica de la tecnología, la cual tiene como objetivo realizar la revisión teórica, formulación, aplicación, gestión y evaluación de estrategias metodológicas que faciliten los procesos de enseñanza y aprendizaje de la tecnología en el aula.<br>Esta línea se justifica en tanto se da a la tarea de plantear problemáticas relacionadas con los procesos,  modelos, enfoques y tendencias de la pedagogía de la tecnología que tienen lugar en los procesos de enseñanza y aprendizaje, las dinámicas de gestión en el aula y las estrategias.</p></li> 
              <li><p><strong>Educación en tecnología en medios virtuales</strong><br>Esta línea de investigación tiene como objeto realizar la revisión de los procesos de educación tecnológica apoyada en medios virtuales, plantear problemáticas en torno a su uso, proponer estrategias pedagógicas y didácticas para su uso, desarrollar objetos virtuales para su implementación y realizar una evaluación de su impacto en procesos de aprendizaje y construcción de conocimiento.<br>El trabajo investigativo en esta línea se justifica en tanto en los últimos tiempos la incursión de las tecnologías de la información y la comunicación -Tic-, ha marcado un hito importante en el planteamiento de estrategias de la formación, que ameritan ser consideradas al interior de los procesos de educación en tecnología, como objeto de estudio, además de de su impacto en la conformación de sociedad y de cultura actual.</p></li>
            </ol>
          </div>

          <div [hidden]="opcion !== 'inscripcion'">
            <h3>Inscripción</h3>
            <br>
            <p>Si está interesado en cursar la <strong>Especialización en educación en tecnología</strong>; debe  diligenciar el formulario de inscripción en línea. (<a href="http://edutecno.udistrital.edu.co:8080/c/document_library/get_file?uuid=e088a571-d6cf-4d64-bdfb-ab2fb8cd59be&groupId=47896">Descargue aquí</a>)</p>
            <p>Consignación en la cuenta de ahorros de la Universidad Distrital Francisco José de Caldas, Banco de  Occidente N° 230814618 Cod. 12. Por valor de $110.400 COP</p>
            <p>Para el <strong>proceso de inscripción</strong>, son necesarios los siguientes documentos y requerimientos:</p>
            <ol>
              <li><p>Formulario de inscripción para la especialización en educación en tecnología diligenciado.</p></li>
              <li><p>Hoja de vida con los respectivos soportes.</p></li>
              <li><p>Pago de los derechos pecuniarios exigidos por la Universidad.</p></li>
              <li><p>Fotografía 3x4 fondo azul.</p></li>
              <li><p>Entrevista con docente seleccionado por el Consejo Curricular.</p></li>  
            </ol> 
          </div>

          <div [hidden]="opcion !== 'informacion'">
            <h3>Más información</h3>
            <br>
            <dl>
                <dt>Coordinador(a):</dt>
                <dd>Sergio Briceño Castañeda</dd>
                <dt>Dirección:</dt>
                <dd>Avenida Ciudad de Quito (NQS) # 64 - 81 Oficina 602</dd>
                <dt>Horario de atención:</dt>
                <dd>Lunes a viernes de 9:00 a.m. a 5:00 p.m.</dd>
                <dt>PBX:</dt>
                <dd>3239300</dd>
                <dt>Ext:</dt>
                <dd>6356 - 6357</dd>
                <dt>Fax:</dt>
                <dd>6600862</dd>
                <dt>Correo electrónico:</dt>
                <dd><span><a href="mailto:edutecno@udistrital.edu.co">edutecno@udistrital.edu.co</a></span></dd>
                <dt>
                  <span><b><a href="http://edutecno.udistrital.edu.co:8080/">Sitio web</a></b></span>
                </dt>
            </dl>
          </div>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>