<nb-card>
  <nb-card-header>{{"GLOBAL.otra_publicacion" | translate}}
  </nb-card-header>
  <nb-card-body class="row container">
    <div class="col-md-12">
      <table class="table-responsive">
        <tbody *ngIf="info_otra_publicacion">
          <tr *ngFor="let publicacion of info_otra_publicacion">
            <td>
              <p><b>{{publicacion.Mes}}/{{publicacion.Ano}}</b></p>
              <p>{{publicacion.Tipo.Nombre}}</p>
            </td>
            <td>
              <p>{{publicacion.Titulo}}</p>
              <p>{{publicacion.Autor}}</p>
            </td>
          </tr>
        </tbody>
      </table>
      <span *ngIf="url_editar" (click)="editar()" class="link">
        <i class="ion-edit"></i>{{"GLOBAL.actualizar" | translate}}</span>
    </div>
  </nb-card-body>
</nb-card>
