<nb-card>
  <nb-card-header>{{"GLOBAL.articulos" | translate}}
  </nb-card-header>
  <nb-card-body class="row container">
    <div class="col-md-12">
      <table class="table-responsive">
        <tbody *ngIf="info_articulo">
          <tr *ngFor="let articulo of info_articulo">
            <td>
              <p><b>{{articulo.Mes}}/{{articulo.Ano}}</b></p>
              <p><b>{{"GLOBAL.revista" | translate}}:</b> {{articulo.Revista}}</p>
              <p><b>{{"GLOBAL.volumen" | translate}}:</b> {{articulo.Volumen}}</p>
              <p><b>{{"GLOBAL.fasciculo" | translate}}:</b> {{articulo.Fasciculo}}</p>
              <p><b>{{"GLOBAL.serie" | translate}}:</b> {{articulo.Serie}}</p>
              <p>{{articulo.MedioDivulgacion.Nombre}}</p>
            </td>
            <td>
              <p>{{articulo.Nombre}}</p>
              <p>{{articulo.Tipo.Nombre}}</p>
              <p>{{articulo.Idioma}}</p><!--.Nombre}}</p>-->
              <p>{{articulo.Ubicacion.Nombre}}</p>
              <p><b>{{"GLOBAL.url" | translate}}:</b> {{articulo.Url}}</p>
              <p><b>{{"GLOBAL.doi" | translate}}:</b> {{articulo.Doi}}</p>
            </td>
          </tr>
        </tbody>
      </table>
      <span *ngIf="url_editar" (click)="editar()" class="link">
        <i class="ion-edit"></i>{{"GLOBAL.actualizar" | translate}}</span>
    </div>
  </nb-card-body>
</nb-card>
