<nb-card>
  <nb-card-header>{{"GLOBAL.libros" | translate}}
  </nb-card-header>
  <nb-card-body class="row container">
    <div class="col-md-12">
      <table class="table-responsive">
        <tbody *ngIf="info_libro">
          <tr *ngFor="let libro of info_libro">
            <td>
              <p><b>{{libro.Mes}}/{{libro.Ano}}</b></p>
              <p><b>{{"GLOBAL.editorial" | translate}}:</b> {{libro.Editorial}}</p>
              <p><b>{{"GLOBAL.paginas" | translate}}:</b> {{libro.Paginas}}</p>
              <p>{{libro.MedioDivulgacion.Nombre}}</p>
              <p>{{libro.MedioPublicacion.Nombre}}</p>
            </td>
            <td>
              <p>{{libro.TituloLibro}}</p>
              <p>{{libro.TipoPublicacion.Nombre}}</p>
              <p>{{libro.TituloCapitulo}}</p>
              <p>{{libro.Ubicacion.Nombre}}</p>
              <p><b>{{"GLOBAL.isbn" | translate}}:</b> {{libro.Isbn}}</p>
            </td>
          </tr>
        </tbody>
      </table>
      <span *ngIf="url_editar" (click)="editar()" class="link">
        <i class="ion-edit"></i>{{"GLOBAL.actualizar" | translate}}</span>
    </div>
  </nb-card-body>
</nb-card>
